$color-light: #ffffff;
$color-dark: #242526;
$color-element: #12B7B6;
$color-text: #545454;
$color-logo: #395ca3;
$color-dark-text: #858585;
$color-background-light: #f3f3f3;

$color-button_hover: #BCD0E5;
$color-border: #BCD0E5;
$color-border-additinal: #D7D7D7;
$color-tag-colored: #F5F5F5;

$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-blue: #4DADF7;


$content-width: 1720px;
$tablet-big-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;
