$color-element: #12B7B6;
$color-light: #f3f3f3;
$color-dark: #2D2D2D;
$color-light-add: #d3f3f2;

$content-width: 1400px;

$laptop-width: 1440px;
$tablet-width: 1024px;
$mobile-l-width: 768px;
$mobile-m-width: 430px;
$mobile-s-width: 380px;
