.about-us {
  margin: auto;
  width: 1920px;
  background-image: url(../assets/image/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px auto;
}

.about-us__wrapper {
  width: 960px;
  display: inline-flex;
  background: rgba(31, 31, 31, 0.85);
}

.about-us__content {
  padding: 120px 90px 60px;
  color: #FFFFFF;
  @include font ($weight: normal, $size: 2.2rem, $height: 3.3rem);
  text-align: justify;
  height: 1200px;
}

.content__title {
  @include font ($weight: 300, $size: 3.5rem, $height: 6.4rem);
}

.select__wrapper {
  border-bottom: 1px solid $color-light;
}

.about-us__select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
}

.select__titlte {
  display: flex;
}

.select__dots {
  margin-right: 47px;
}

.select__arrow {
  height: 20px;
  width: 20px;
  background-image: url(../assets/image/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.select__text {
  @include font ($weight: normal, $size: 1.8rem, $height: 2.9rem);
  display: none;
  @extend %transition;
}

.select__active {
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
}
