.about-us {
  display: flex;
  margin: auto;
  max-width: 1920px;
  background-image: url(../assets/image/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.about-us__wrapper {
  float: left;
  max-width: 1060px;
  margin-left: 0;

  @include media-laptop {
    max-width: 920px;
  }
  @include media-tablet {
    max-width: 650px;
  }
}

.about-us__content {
  padding: 120px 90px 60px 120px;
  color: #FFFFFF;
  text-align: justify;
  height: 1200px;
  background: rgba(31, 31, 31, 0.85);

  @include media-laptop {
    padding: 110px 72px;
  }

  @include media-tablet {
    padding: 100px 30px;
    max-width: 650px;
  }
}

.select__wrapper {
  border-bottom: 1px solid $color-light;
}

.about-us__select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
}

.select__titlte {
  display: flex;
}

.select__dots {
  margin-right: 47px;
}

.select__arrow {
  height: 20px;
  width: 20px;
  background-image: url(../assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.select__text {
  display: none;
}

.select__active {
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
}
