// request form
.request {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  visibility: hidden;
  @extend %transition;
  overflow: hidden;
}

.request-active {
  visibility: visible;
}

.request__wrapper {
  padding: 50px;
  overflow-y: auto;
  background-color: $color-light;
  height: 90vh;
  max-height: 770px;
  position: relative;
  top: 40px;
  bottom: 40px;
  margin: auto;

  @include media-tablet {
    padding: 0 20px;
    top: 20px;
  }
}

.request-form__title {
  margin: 0 0 30px;
  font-weight: bold;
  @include media-tablet {
    margin: 20px 0;
	}
}

.request__input {
  display: block;
  margin-bottom: 20px;
  background: $color-light;
  box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  border: 0;
  height: 60px;
  width: 100%;
  padding-left: 40px;
  color: $color-dark;
  @include font($style: normal, $weight: bold, $size: 2rem, $height: 2.7rem);

  @include media-laptop {
		@include font ($style: normal, $weight: bold, $size: 1.6rem, $height: 2rem);
    height: 70px;
    max-width: 420px;
	}
  @include media-tablet {
    padding-left: 30px;
    max-height: 330px;
    height: 60px;
    margin-bottom: 20px;
	}
  @include media-mobile-m {
    height: 50px;
    margin-bottom: 12px;
    padding-left: 15px;

  }
}

.select__type {
  padding-right: 10px;
}


.form__submit {
  position: relative;
}

.request-form__submit {
  position: absolute;
  bottom: 0;
  padding: 20px;
  height: 80px;
  max-width: 350px;
  color: $color-element;
  background: $color-light;
  box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  text-align: center;
  margin-top: 20px;

  @include media-tablet {
    position: inherit;
    padding: 15px;
  }
}

.request__close {
  position: absolute;
  top: 35px;
  right: 50px;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  @include media-tablet {
    top: 25px;
    right: 35px;
  }
  @include media-mobile-m {
    top: 12px;
    right: 12px;
  }
}

// contacts sectiopn form
.form__input {
  padding: 18px 25px;
  @include font($style: normal, $weight: bold, $size: 2.2rem, $height: 2.9rems);
  @extend %transition;
  letter-spacing: 0.005em;
  cursor: pointer;
  opacity: 0.9;
  margin: 0 0 35px;
  width: 100%;
  background: $color-dark;
  color: $color-element;
  border: none;
  background: $color-dark;
  box-shadow: inset -10px -10px 30px #2B2B2B, inset 10px 10px 30px rgba(0, 0, 0, 0.45);
  border-radius: 14px;

  @include media-laptop {
    @include font ($style: normal, $weight: bold, $size: 1.6rem, $height: 2rem);
    padding: 16px 21px;
  }
  @include media-tablet {
    max-width: 460px;
  }
  @include media-mobile-l {
    margin: 0 0 15px;
  }
}

.status {
  margin-bottom: 20px;
}
