.navigation {
  display: flex;
}

.navigation__link {
  list-style: none;
  padding: 28px 35px;
  @include font($style: normal, $weight: bold, $size: 2.2rem, $height: 2.9rems);
  @extend %transition;
  letter-spacing: 0.005em;
  color: $color-light;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    color: $color-element;
  }
}

.active {
  background: $color-background-dark;
  box-shadow: -10px -10px 30px #2B2B2B, 10px 10px 30px rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  color: $color-element;
}
