.promo {
  background: $color-light;
  padding: 120px 0;

  @include media-laptop {
    padding: 110px 0;
  }
  @include media-tablet {
    padding: 100px 0;
  }
  @include media-mobile-l {
    padding: 88px 0;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo__content {
  padding-right: 30px;
}

.promo__text {
  max-width: 900px;
  color: #434343;
  text-align: left;
}

.promo__image {
  position: relative;
  right: 0;
  max-width: 60%;
  height: fit-content;
  border-radius: 20px;
  @include media-mobile-l {
    max-width: 50%;
  }
}

.request__button {
  margin: 50px 0 0 60px;
  background: #F9F9F9;
  box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border-width: inherit;
    &:hover {
      background-color: #d3f3f2;
    }
  @include media-laptop {
    margin: 80px 0 0 60px;
  }
  @include media-tablet {
    margin: 15px 0 0 60px;
  }
}
