.we-do__elements {
}

.service {
  max-width: 446px;
  padding: 40px 40px;
  background: #F3F3F3;
  box-shadow: -20px -20px 50px #FFFFFF, 20px 20px 50px #D2D2D2;
  border-radius: 43px;
  @extend %transition;
  &:hover {
    background-color: #d3f3f2;
  }
  text-align: center;
  @include media-mobile-l {
    margin: auto;
    margin-bottom: 30px;
  }
}

.we-do-object {
  height: 180px;
  margin: auto;
  display: block;
  @include media-mobile-m {
    height: 120px;
  }
}

.service__title {
  margin: 30px auto;
  text-align: center;
  @include font ($weight: 500, $size: 3.5rem, $height: 4rem);

  @include media-laptop {
    @include font ($weight: 500, $size: 3.2rem, $height: 3.5rem);
  }
}

.service__text {
  display: inline;
}
