.work-scheme {
  padding: 40px 0 120px;
  color: $color-dark;

  @include media-laptop {
    padding: 30px 0 110px;
  }
  @include media-tablet {
    padding: 30px 0 110px;
  }
  @include media-mobile-l {
    padding: 20px 0 100px;
  }
  @include media-mobile-m {
    padding: 15px 0 90px;
  }
}

.work-scheme__wrapper {

}

.scheme__elements {
  display: flex;
  align-items: baseline;
}

.scheme-object {
  display: block;
  margin: auto;
  margin-top: 110px;
  width: 100%;

  @include media-tablet {
    width: 100%;
  }

  @include media-mobile-l {
    display: none;
  }
}

.scheme-object_small {
  display: none;
  @include media-mobile-l {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-top: 50px;
    padding: 0 10px;
  }
}

.scheme-rect {
  @extend %transition;
}

.scheme-svg {
  .scheme-rect {
    &:hover {
      fill: #d3f3f2;
    }
  }
}
