.work-scheme {
  padding: 120px 0;
  color: $color-dark;

  @include media-laptop {
    padding: 110px 0;
  }
  @include media-tablet {
    padding: 100px 0;
  }
  @include media-mobile-l {
    padding: 88px 0;
  }
}

.work-scheme__wrapper {

}

.scheme__elements {
  display: flex;
  align-items: baseline;
}

.scheme-object {
  display: block;
  margin: auto;
  margin-top: 110px;
  max-width: 1200px;

  @include media-tablet {
    max-width: 960px;
  }

  @include media-mobile-l {
    display: none;
  }
}

.scheme-object_small {
  display: none;
  @include media-mobile-l {
    display: block;
    margin: auto;
    max-width: 528px;
    margin-top: 50px;
  }
}

.scheme-rect {
  @extend %transition;
}

.scheme-svg {
  .scheme-rect {
    &:hover {
      fill: #d3f3f2;
    }
  }
}
