html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	@extend %font-pri;
	@include font ($weight: normal, $size: 1.6rem, $height: 2.6rem);
	background-color: $color-light;
	overflow-x: hidden;
	color: $color-dark;
}

h1, h2, .section__title {
  margin: 0 0 50px 0;
  @include font ($weight: 300, $size: 5.6rem, $height: 7.9rem);

	@include media-laptop {
    @include font($style: normal, $weight: 300, $size: 4rem, $height: 6rem);
    letter-spacing: 0.01em;
  }

	@include media-tablet {
    margin: 0 0 30px;
  }
}

h3, .content__title {
	@include font ($weight: 300, $size: 3.5rem, $height: 6.4rem);

	@include media-laptop {
		@include font ($weight: 300, $size: 2.6rem, $height: 5.5rem);
	}
}

p, .status {
	@include font ($weight: normal, $size: 2.2rem, $height: 2.9rem);

	@include media-laptop {
    @include font($style: normal, $weight: 400, $size: 1.6rem, $height: 2.4rem);
    letter-spacing: 0.01em;
  }
}

a {
	text-decoration: none;
}
