.ico {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.ico_mail {
  background-image: url("../assets/svg/icons/mail.svg");
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.ico_phone {
  background-image: url("../assets/svg/icons/phone.svg");
  width: 36px;
  height: 36px;
  margin-right: 5px;
}
