.logo {
  display: flex;
}

.logo-object {
  width: 265px;
  height: 66px;

  @include media-laptop {
    width: 180px;
  }
  @include media-mobile-l {
    width: 160px;
    height: 40px;
  }

}

.logo-path {
  @extend %transition;
}

.logo-svg {
  cursor: pointer;
  &:hover {
    .logo-path {
      fill: $color-light;
    }
  }
}

.logo-svg-light {
  cursor: pointer;
  &:hover {
    .logo-path {
      fill: $color-element;
    }
  }
}
