.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background: $color-dark;
  padding: 14px 0;

  @include media-laptop {
    padding: 10px 0;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__contacts {
  display: grid;
}

.contact__link {
  @include font($style: normal, $weight: bold, $size: 2rem, $height: 2.7rem);
  @extend %transition;
  letter-spacing: 0.01em;
  color: $color-light;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    color: $color-element;
  }
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  &::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    margin-right: 5px;
  }

  @include media-laptop {
    @include font($style: normal, $weight: bold, $size: 1.4rem, $height: 2rems);
    letter-spacing: 0.01em;
    &::before {
      width: 25px;
      height: 25px;
    }
  }
}

.mail__link::before {
  background-image: url("../assets/svg/icons/mail.svg");
}

.phone__link::before {
  background-image: url("../assets/svg/icons/phone.svg");
}
